'context-menu':
  '.overlayer':
      'Enable AsciiCodes': 'ascii-codes:toggle'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'AsciiCodes'
      'submenu': [
        { 'label': 'Toggle', 'command': 'ascii-codes:toggle' }
      ]
    ]
  }
]
